<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Accident')">

</head>
<body>
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <div th:replace="layout :: nav"></div>
        <div class="divider"></div>
        <div th:replace="layout :: preloader"></div>
        <!--DataTables accident-->
        <div id="table-datatables">
            <div class="row">
                <div class="col s1 m1 l1"> </div>
                <div class="col s10 m10 l10"><h4 class="header">Accident Management</h4></div>
                <div class="col s1 m1 l1"> </div>
            </div>
            <div class="row">
                <div class="col s1 m1 l1"> </div>
                <div class="col s10 m10 l10">
                    <table id="data-table-simple" class="responsive-table display highlight centered" cellspacing="0" style="table-layout: fixed; width: 100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Description</th>
                            <th>Time</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Position</th>
                            <th>Joined</th>
                            <th>Admin</th>
                            <th>Fake</th>
                            <th>Report Done</th>
                            <th>Delete</th>
                            <th>Activate</th>
                            <th>Set Done</th>

                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Description</th>
                            <th>Time</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Position</th>
                            <th>Joined </th>
                            <th>Admin</th>
                            <th>Fake</th>
                            <th>Report Done</th>
                            <th>Delete</th>
                            <th>Activate</th>
                            <th>Set Done</th>

                        </tr>
                        </tfoot>

                        <tbody>
                        <tr th:each="accident  : ${accidents}" style="cursor: pointer"
                        th:onclick="'javascript:rowClicked(\'' + ${accident.id_AC} + '\');'">
                            <td th:text="${accident.id_AC}">Tiger Nixon</td>
                            <td th:text="${accident.id_user!=null} ? ${accident.id_user.username} : 'Null'" style="word-wrap: break-word" >username</td>
                            <td th:text="${accident.description_AC}" style="word-wrap: break-word">online</td>
                            <td th:text="${accident.date_AC}">61</td>
                            <td th:text="${accident.Address}" style="word-wrap: break-word" >61</td>
                            <td th:text="${accident.status_AC}">61</td>
                            <td th:text="|${accident.lat_AC}, ${accident.long_AC}|" >6</td>
                            <td th:text=" ${accident.joined}"> 0</td>
                            <td th:text="${accident.id_admin_active!=null} ? ${accident.id_admin_active.id_user} : 'No'">No</td>
                            <td th:text="${accident.is_reported_fake} ? 'Yes' : 'No'">No</td>
                            <td th:text="${accident.Is_report_done} ? 'Yes' : 'No'">No</td>
                            <td>
                                <input hidden="hidden" name="id" th:value="${accident.id_AC}" />
                                <form th:action="@{|/accident/remove/${accident.id_AC}|}" method="post">
                                    <button type="submit" class="btn-floating btn-large waves-effect waves-light tooltipped"
                                            data-position="top" data-delay="50" data-tooltip="Delete Accident">
                                        <i class="tiny material-icons">delete</i></button>
                                </form>
                            </td>
                            <td>
                                <input hidden="hidden" name="id" th:value="${accident.id_AC}" />
                                <form th:action="@{|/accident/activate/${accident.id_AC}|}" method="post">
                                    <button type="submit" class="btn-floating btn-large waves-effect waves-light tooltipped"
                                    data-position="top" data-delay="50" data-tooltip="Active Accident">
                                    <i class="tiny material-icons">done</i>Activate</button>
                                </form>
                            </td>
                            <td>
                                <input hidden="hidden" name="id" th:value="${accident.id_AC}" />
                                <form th:action="@{|/accident/setdone/${accident.id_AC}|}" method="post">
                                    <button type="submit" class="btn-floating btn-large waves-effect waves-light tooltipped"
                                         data-position="top" data-delay="50" data-tooltip="Set Done">
                                        <i class="tiny material-icons">done_all</i></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                  <div class="col s1 m1 l1"> </div>

               </div>
            </div>
        </div>
        <br/>




        <div class="divider"></div>
        <div class="divider">
        </div>

    </div>
    <!-- END WRAPPER -->

</div>
<!-- END MAIN -->
    <script>
    function rowClicked(value) {
        location.href = "accident/" + value;
    }
  </script>
  
</body>
    <div th:replace="layout :: scripts"></div>
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>
    <!--angularjs-->
    <script type="text/javascript" src="js/plugins/angular.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--prism -->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>

    <!--jsgrid-->
    <script type="text/javascript" src="js/plugins/jsgrid/js/db.js"></script> <!--data-->
    <script type="text/javascript" src="js/plugins/jsgrid/js/jsgrid.min.js"></script>
    <script type="text/javascript" src="js/plugins/jsgrid/js/jsgrid-script.js"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>
</html>
