<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Users')">

  </head>
  <body>
      <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
    <div th:replace="layout :: nav"></div>
      <div class="divider"></div>
            
            <!--DataTables users-->
            <div id="table-datatables">
                <div class="row">
                    <div class="col s1 m2 l2"> </div>
                    <div class="col s10 m8 l8"><h4 class="header">User Management</h4></div>
                    <div class="col s1 m2 l2"> </div>
                </div>
              <div class="row">
                <div class="col s1 m1 l1"> </div>
                <div class="col s10 m10 l10">
                  <table id="data-table-simple" class="responsive-table display highlight" cellspacing="0">
                    <thead>
                        <tr>
                          <th>Username</th>
                          <th>Role</th>
                          <th>Password</th>
                          <th>Position</th>
                          <th>Is_Signup_Admin</th>

                        </tr>
                    </thead>
                 
                    <tfoot>
                        <tr>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Password</th>
                            <th>Position</th>
                          <th>Is_Signup_Admin</th>
                        </tr>
                    </tfoot>
                 
                    <tbody>
                        <tr th:each="user  : ${userlist}">
                            <td th:text="${user.username}">Tiger Nixon</td>
                            <td th:text="${user.user_type.name_user_type}">System Architect</td>
                            <td th:text="${user.password}">online</td>
                            <td th:text="${user.lat_PI + ',' +user.long_PI}">61</td>
                           <td th:text="${user.is_signup_volunteer} ? 'Yes' : 'No'">61</td>
                            <td>
                                <input hidden="hidden" name="id" th:value="${user.id_user}" />
                                <form th:action="@{|/account/setVolunteer/${user.id_user}|}" method="post">
                                    <button type="submit" class="btn waves-effect waves-light">
                                        <i class="tiny material-icons">verified_user</i>Set Volunteer</button>
                                </form>
                            </td>
                             <td>
                            <input hidden="hidden" name="id" th:value="${user.id_user}" />
                            <form th:action="@{|/account/setUser/${user.id_user}|}" method="post">
                              <button type="submit" class="btn waves-effect waves-light">
                                <i class="tiny material-icons">perm_identity</i>Set User</button>
                            </form>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col s1 m1 l1"> </div>
            </div> 
            <br/> 
          <div class="divider">
        </div> 

        </div>
    <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->

  </body>
<div th:replace="layout :: scripts"></div>
</html>
